body{
    background-color: rgba(243, 243, 255, 0.89);
}

ion-icon{
    font-size: 24px;
    color:rgba(8, 31, 82, 0.726) ;
}

ion-icon:hover{
    font-size: 20px;
    color: blue;
   
}
 
ion-icon >.arrow{
      font-size: 16px;
      color: rgb(0, 139, 163);
}

.client img{
    height: 40px;
    transition: linear 1s ; 
}
.client img:hover{
    height:50px;
}
.updown{
    animation-duration: 3s;
    transition: all .3s;
}

@keyframes updown{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-40px);
    }
    100%{
        transform: translateY(0px);
    }
}

@media screen and (min-width:768px) {
    .updown{
        animation-name: updown;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-timing-function: ease;
        transition: all .4s;
    }
    @keyframes updown{
        0%{
            transform: translateY(0px);
        }
        50%{
            transform: translateY(80px);
        }
        100%{
            transform: translateY(0px);
        }
    }

}
